@model List<EcommerceProject.DTOs.Product.GetProductDTO>

@{
    ViewData["Title"] = "Index";
}

<!--============= BREADCRUMB ===============-->
@* <section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
        <li><a asp-controller="Home" asp-action="Index" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link">/</span></li>
        <li><span class="breadcrumb__link">Shop</span></li>
    </ul>
</section> *@

<section class="container">
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">Shop</li>
        </ol>
    </div>
</section>

<!--============= PRODUCTS ===============-->
<section class="products container">
    <p class="total__products">
        We found <span>@Model.Count</span> items for you!
    </p>

    <div class="products__container grid">
        @foreach (var p in Model)
        {
            <div class="product__item">
                <div class="product__banner">
                    <a asp-controller="Product" asp-action="Index" asp-route-productId="@p.Id" class="product__images">
                        @if (p.ProductImages.Count > 0)
                        {
                            <img src="data:@p.ProductImages[0].ContentType;base64,@System.Convert.ToBase64String(p.ProductImages[0].ImageData)"
                                 alt=""
                                 class="product__img default">
                        }
                        @if (p.ProductImages.Count > 1)
                        {
                            <img src="data:@p.ProductImages[1].ContentType;base64,@System.Convert.ToBase64String(p.ProductImages[1].ImageData)"
                                 alt=""
                                 class="product__img hover">
                        }
                        @if (p.ProductImages.Count == 0)
                        {
                            <img src="~/Images2/OIF.jpeg" alt=""
                                 class="product__img default">

                            <img src="~/Images2/OIF.jpeg" alt=""
                                 class="product__img hover">
                        }

                    </a>

                    <div class="product__actions">
                        <a href="#" class="action__btn" aria-label="Quick View">
                            <i class="fi fi-rs-eye"></i>
                        </a>

                        <a href="#" class="action__btn" aria-label="Add to whishlist">
                            <i class="fi fi-rs-heart"></i>
                        </a>

                        <a href="#" class="action__btn" aria-label="Compare">
                            <i class="fi fi-rs-shuffle"></i>
                        </a>
                    </div>

                    <div class="product__badge light-pink">Hot</div>

                </div>

                <div class="product__content">
                    <span class="product__category">Clothing</span>
                    <a asp-controller="Product" asp-action="Index">
                        <h3 class="product__title">@p.Name</h3>
                    </a>
                    <div class="product__rating">
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                    </div>
                    <div class="product__price flex">
                        <span class="new__price">$238.85</span>
                        <span class="old__price">$245.8</span>
                    </div>

                    <a href="#"
                       class="action__btn cart__btn"
                       aria-label="Add to Cart">
                        <i class="fi fi-rs-shopping-bag-add"></i>
                    </a>
                </div>
            </div>

            @* <div class="product__item">
                <div class="product__banner">
                    <a asp-controller="Product" asp-action="Index" class="product__images">
                        <img src="Assets/Img/images/imgs/1419AFR1-t-shirt-cher-pere-noel-mon-fils-la-fait-personnalise.webp" alt=""
                             class="product__img default">

                        <img src="Assets/Img/images/imgs/il_fullxfull.5292819096_c8gz.jpg" alt=""
                             class="product__img hover">
                    </a>

                    <div class="product__actions">
                        <a href="#" class="action__btn" aria-label="Quick View">
                            <i class="fi fi-rs-eye"></i>
                        </a>

                        <a href="#" class="action__btn" aria-label="Add to whishlist">
                            <i class="fi fi-rs-heart"></i>
                        </a>

                        <a href="#" class="action__btn" aria-label="Compare">
                            <i class="fi fi-rs-shuffle"></i>
                        </a>
                    </div>

                    <div class="product__badge light-green">Hot</div>

                </div>

                <div class="product__content">
                    <span class="product__category">Clothing</span>
                    <a asp-controller="Product" asp-action="Index">
                        <h3 class="product__title">@p.Name</h3>
                    </a>
                    <div class="product__rating">
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                    </div>
                    <div class="product__price flex">
                        <span class="new__price">$238.85</span>
                        <span class="old__price">$245.8</span>
                    </div>

                    <a href="#"
                       class="action__btn cart__btn"
                       aria-label="Add to Cart">
                        <i class="fi fi-rs-shopping-bag-add"></i>
                    </a>
                </div>
            </div>

            <div class="product__item">
                <div class="product__banner">
                    <a asp-controller="Product" asp-action="Index" class="product__images">
                        <img src="Assets/Img/images/imgs/1419AFR1-t-shirt-cher-pere-noel-mon-fils-la-fait-personnalise.webp" alt=""
                             class="product__img default">

                        <img src="Assets/Img/images/imgs/il_fullxfull.5292819096_c8gz.jpg" alt=""
                             class="product__img hover">
                    </a>

                    <div class="product__actions">
                        <a href="#" class="action__btn" aria-label="Quick View">
                            <i class="fi fi-rs-eye"></i>
                        </a>

                        <a href="#" class="action__btn" aria-label="Add to whishlist">
                            <i class="fi fi-rs-heart"></i>
                        </a>

                        <a href="#" class="action__btn" aria-label="Compare">
                            <i class="fi fi-rs-shuffle"></i>
                        </a>
                    </div>

                    <div class="product__badge light-orange">Hot</div>

                </div>

                <div class="product__content">
                    <span class="product__category">Clothing</span>
                    <a asp-controller="Product" asp-action="Index">
                        <h3 class="product__title">@p.Name</h3>
                    </a>
                    <div class="product__rating">
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                    </div>
                    <div class="product__price flex">
                        <span class="new__price">$238.85</span>
                        <span class="old__price">$245.8</span>
                    </div>

                    <a href="#"
                       class="action__btn cart__btn"
                       aria-label="Add to Cart">
                        <i class="fi fi-rs-shopping-bag-add"></i>
                    </a>
                </div>
            </div>

            <div class="product__item">
                <div class="product__banner">
                    <a asp-controller="Product" asp-action="Index" class="product__images">
                        <img src="Assets/Img/images/imgs/1419AFR1-t-shirt-cher-pere-noel-mon-fils-la-fait-personnalise.webp" alt=""
                             class="product__img default">

                        <img src="Assets/Img/images/imgs/il_fullxfull.5292819096_c8gz.jpg" alt=""
                             class="product__img hover">
                    </a>

                    <div class="product__actions">
                        <a href="#" class="action__btn" aria-label="Quick View">
                            <i class="fi fi-rs-eye"></i>
                        </a>

                        <a href="#" class="action__btn" aria-label="Add to whishlist">
                            <i class="fi fi-rs-heart"></i>
                        </a>

                        <a href="#" class="action__btn" aria-label="Compare">
                            <i class="fi fi-rs-shuffle"></i>
                        </a>
                    </div>

                    <div class="product__badge light-blue">Hot</div>

                </div>

                <div class="product__content">
                    <span class="product__category">Clothing</span>
                    <a asp-controller="Product" asp-action="Index">
                        <h3 class="product__title">@p.Name</h3>
                    </a>
                    <div class="product__rating">
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                        <i class="fi fi-rs-star"></i>
                    </div>
                    <div class="product__price flex">
                        <span class="new__price">$238.85</span>
                        <span class="old__price">$245.8</span>
                    </div>

                    <a href="#"
                       class="action__btn cart__btn"
                       aria-label="Add to Cart">
                        <i class="fi fi-rs-shopping-bag-add"></i>
                    </a>
                </div>
            </div> *@
        }
    </div>

    <ul class="pagination">
        <li><a href="" class="pagination__link active">01</a></li>
        <li><a href="" class="pagination__link">02</a></li>
        <li><a href="" class="pagination__link">03</a></li>
        <li><a href="" class="pagination__link">...</a></li>
        <li><a href="" class="pagination__link">16</a></li>
        <li>
            <a href="" class="pagination__link icon">
                <i class="fi-rs-angle-double-small-right"></i>
            </a>
        </li>
    </ul>
</section>

<!--============= NEWSLETTER ===========-->
<section class="newsletter section">
    <div class="newsletter__container container grid">
        <h3 class="newsletter__title flex">
            <img src="Assets/Img/images/images (1).jpeg"
                 alt=""
                 class="newsletter__icon">
            Sign Up to Newsletter
        </h3>

        <p class="newsletter__description">
            ...and receive $25 coupon for first shopping.
        </p>

        <form action="" class="newsletter__form">
            <input type="text"
                   placeholder="Enter your email"
                   class="newsletter__input">
            <button type="submit" class="newsletter__btn">Suscribe</button>
        </form>
    </div>
</section>
